[core]
	editor = nvim
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
    algorithm = histogram
    renames = true
    mnemonicPrefix = true
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\""
[branch]
    sort = -committerdate
[init]
    defaultBranch = main
[alias]
    s = switch
